extends ./layout.jade

block styles
	style.
		.row + .row {
			margin-top: 15px;
		}
		.progress {
			height: 33px;
			margin-bottom: 0;
		}
		.progress-bar {
			transition-property: width, background-color;
		}

block scripts
	script(src="/scripts/bundle.js")

block content
	#app
	