extends ./layout.jade

block styles
	style.
		.row + .row {
			margin-top: 15px;
		}
		.progress {
			height: 33px;
			margin-bottom: 0;
		}
		.progress-bar {
			transition-property: width, background-color;
		}

block scripts
	script(src="/scripts/chroma.min.js")
	script(src="/scripts/control.js")

block content
	.container
		.row: .col-xs-12
			.progress.progress-striped.active
				.progress-bar.io-motor-display(style="width: 0%;")
		.row
			.col-xs-12
				.btn-group.btn-group-justified
					- var subdivisions = 8
					- for (var n = 1; n <= subdivisions; ++n) {
						.btn-group
							button.btn.btn-default.io-motor-n(data-n=(n / subdivisions))= n
					- }
		.row
			.col-xs-6
				button.btn.btn-default.btn-block.io-motor-down &lt;
			.col-xs-6
				button.btn.btn-default.btn-block.io-motor-up &gt;
		.row: .col-xs-12
			button.btn.btn-default.btn-block.io-motor-off Off

