extends ./layout.jade

block content
	nav.navbar.navbar-default: .container
		.navbar-header
			a.navbar-brand(href='/') rPiston
	.container
		if error && error.length
			.alert.alert-danger= error
		form(method="post")
			.form-group
				label(for="username") Username
				input.form-control(type="text" id="username" name="username")
			.form-group
				label(for="password") Password
				input.form-control(type="password" id="password" name="password")
			input.btn.btn-default(type="submit" value="Sign in")

