extends ./layout.jade

block scripts
	script(src="/bundle.js")

block content
	nav.navbar.navbar-default: .container
		.navbar-header
			a.navbar-brand(href='/') rPiston
		form.navbar-non-collapse(action='/sign-out' method='post')
			input.btn.btn-default.navbar-btn(type='submit' value='Sign out')
	#app.container
	